@use "./variables" as v;

.main {
    max-width: 100vw;
    overflow: hidden;
    opacity: 1;
    position: relative;
    -webkit-transition: opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);

    
    // videoFixed Styles
    .videoFixed {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background: #19153a;

        video {
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            z-index: 1;
            opacity: 1;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            -webkit-transition: opacity 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            transition: opacity 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }


        .videoFixedMedia {
            position: absolute;
            top: 0;
            left: 50%;
            z-index: 0;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            background: url("../assets/gradient-dark.png");
            background-position-x: 0%;
            background-position-y: 0%;
            background-repeat: repeat;
            background-size: auto;
            background-size: cover;
            background-position: center;
        }
    }


    // Hero Styles
    .hero {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        color: v.$white-color;
        height: auto;
        padding-top: 200px;
        padding-bottom: 60px;

        .heroContainer {
            display: flex;
            flex-direction: column;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
            position: relative;
            z-index: 1;
            max-width: 1092px;
            margin: 0 auto;

            @media (max-width: 1164px) {
                padding: 0 1.875rem;
            }


            @media (min-width: v.$breakpoint-desktop) {
                flex-direction: row;
                -webkit-box-align: end;
                -ms-flex-align: end;
                align-items: flex-end;
            }


            .titleWrapper {
                width: 100%;
                margin-bottom: 20px;

                @media (min-width: v.$breakpoint-desktop) {
                    width: 50%;
                    margin-bottom: 0;
                }

                .headlineTitle {
                    font-size: 50px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 500;
                    line-height: 1;
                    letter-spacing: -0.04em;

                    @media (min-width: v.$breakpoint-desktop) {
                        font-size: 4rem;
                    }

                    @media (max-width: v.$breakpoint-mobile) {
                        font-size: 2.25rem;
                    }
                }
            }


            .textWrapper {
                width: 80%;
                font-size: 0.875rem;

                @media (min-width: v.$breakpoint-desktop) {
                    width: 50%;
                }

                @media (min-width: v.$breakpoint-mobile) {
                    font-size: 1rem;
                }
            }

        }
    }


    // Discover Styles
    .discover {
        min-height: 0;
        padding-bottom: 60px;
        max-width: 100%;
        position: relative;


        @media (min-width: v.$breakpoint-tablet) {
            &::before {
                content: '';
                display: block;
                position: absolute;
                top: auto;
                bottom: 0;
                left: calc(50% - 1px);
                height: calc(185 / 1440 * 100vw);
                z-index: 0;
                background: v.$white-color;
                width: calc(100vw + 2px);
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
            }
        }

        .container {
            display: flex;
            flex-direction: row;
            gap: 1.2rem;

            @media (max-width: v.$breakpoint-desktop) {
                flex-direction: column;
            }
        }
    }

    // DiscoverFull Styles
    .discoverFull {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;

        min-height: 0;
        padding-bottom: 60px;
        max-width: 100%;
        position: relative;


        &::before {
            content: '';
            display: block;
            position: absolute;
            top: -2px;
            left: calc(50% - 1px);
            z-index: 0;
            background: v.$white-color;
            width: calc(100vw + 2px);
            height: calc(100% + 4px);
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }


        .discoverItem {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: reverse;
            opacity: 1;
            -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
            background: transparent;
            padding: 40px 40px 40px 40px;
            will-change: transform, opacity;

            position: relative;
            z-index: 1;
            border-radius: 12px;
            overflow: hidden;
            background: v.$white-color;
            -webkit-box-shadow: 0 10px 60px 0 rgba(25,21,58,0.05);
            box-shadow: 0 10px 60px 0 rgba(25,21,58,0.05);


            @media (min-width: v.$breakpoint-desktop) {
                -webkit-box-orient: horizontal;
                -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
                padding: 40px 0 40px 40px;
            }


            .discoverMedia {
                width: 100%;
                position: relative;

                @media (min-width: v.$breakpoint-desktop) {
                    width: 50%;
                }

                img {
                    position: absolute;
                    top: 0;
                    right: 0;
                    -o-object-position: center left;
                    object-position: center left;
                }
            }

            .discoverHeadline {
                color: #19153a;
                position: relative;
                z-index: 2;
                width: 100%;
                height: 100%;
                pointer-events: none;

                @media (min-width: v.$breakpoint-desktop) {
                    width: 50%;
                    padding-right: 40px;
                }
                
                &::before {
                    content: '';
                    display: block;
                    width: 96px;
                    height: 96px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin-bottom: 30px;
                    background-image: url('../assets/embedded-image.svg');
                }


                .discoverTitle, .discoverText {
                    margin-bottom: 24px;
                }

                .discoverText {
                    width: 100%;
                    max-width: 700px;

                    ul {
                        list-style-type: disc;

                        li {
                            margin-left: 5%;
                            list-style: initial;
                        }
                    }
                }
            }
        }
    }


    // Media Styles
    .media {
        padding-top: 40px;
        padding-bottom: 120px;
        min-height: 0;
        max-width: 100%;
        position: inherit;
        z-index: 1;
        background: v.$white-color;
        color: #19153a;

        @media (min-width: v.$breakpoint-tablet) {
            max-height: 100vh;
        }

        .mediaContainer {
            max-width: 700px;
            text-align: center;
            margin: 0 auto;
            position: initial;

            .mediaTitle {
                font-size: 3.125rem;
                margin-bottom: 2.5rem;
            }

            .mediaText {
                color: #6B7280;
                margin-bottom: 2.5rem;
            }
        }
    }
}